.WelcomePage {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/img/welcome_page_bg_mob.jpg');

    @media(min-width: 840px) {
        height: 568px;
        background-image: url('../assets/img/welcome_page_bg_desc.jpg');
    }

}

.WelcomePage_container {
    padding-top: 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-size: 24px;
        color: white;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 34px;
    }

    .title {
        color: white;
        margin-bottom: 40px;
        padding: 0 10px;
    }

    @media(min-width: 840px) {
        padding-top: 64px;

        h1 {
            font-size: 64px;
            line-height: 84px;
        }

        .title {
            font-size: 25px;
            width: 854px;
            line-height: 34px;
        }
    }
}

.btn_container {
    display: flex;
    justify-content: space-between;
    width: 295px;
    gap: 10px;
    flex-direction: column;

    button:nth-child(2) {
        padding: 12px 2px;
    }

    @media(min-width: 840px) {
        width: 565px;
        flex-direction: row;
        justify-content: space-between;

        button:nth-child(2) {
            padding: 12px 15px;
        }
    }
}